BR2_aarch64=y
BR2_KERNEL_HEADERS_6_3=y
BR2_BINUTILS_VERSION_2_39_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_SVN="svn"
BR2_DL_DIR="$(TOPDIR)/../../output/download"
BR2_KERNEL_MIRROR="https://www.kernel.org/pub"
BR2_GNU_MIRROR="http://ftp.gnu.org/pub/gnu"
BR2_CPAN_MIRROR="http://cpan.metacpan.org"
BR2_OPTIMIZE_2=y
# BR2_PIC_PIE is not set
BR2_SSP_NONE=y
BR2_RELRO_NONE=y
BR2_FORTIFY_SOURCE_NONE=y
BR2_TARGET_GENERIC_HOSTNAME="rk33568-mg-evb"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK3568-MG-EVB"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="-c board/rk3568-mg-evb/genimage.cfg"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="$(TOPDIR)/../linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="origin/macro"
BR2_LINUX_KERNEL_DEFCONFIG="rk3568_mg_evb"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
# BR2_PACKAGE_IFUPDOWN_SCRIPTS is not set
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_TAR_XZ=y
BR2_PACKAGE_HOST_GENIMAGE=y
